<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.jsでtodoアプリを作成</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app">
      <h1>Todoリスト</h1>

      <br />

      <!-- form要素のsubmitイベントを抑制する
      v-on:イベント名.イベント修飾子 -->
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem" />
        <button v-on:click="addItem">add</button>
      </form>
      <ul>
        <li v-for="todo in todos">{{ todo.item }}</li>
      </ul>

      <!-- デバック -->
      <pre>{{ $data }}</pre>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/main.js"></script>
  </body>
</html>
